:root {
    --dark-mode: #1d1d1d;
}

.lightmode {
    background-color: #cecece;
}

.darkmode {
    background-color: var(--dark-mode);
}

.toolbar {
    width: 100%;
    background-color: var(--dark-mode);
}